*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background-color: white;
}

header{
    background-color: #0B132B;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

section{
    padding: 20px;
}

h2{
    margin-bottom: 15px;
}

section:first-of-type{
    text-align: center;
    padding: 40px 20px;
    background-color: #0B132B;
}

div{
    border: 1px solid #0B132B;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}

button{
    padding: 10px 20px;
    background-color: #0B132B;
    color: white;
    border: none;
    border-radius: 5px;
}

footer{
    background-color: #0B132B;
    color: white;
    text-align: center;
    padding: 15px;
    }
