body{
    background-color: deeproyalblue;
}
  *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.8;
}

header{
    background-color:deeproyalblue;
    padding: 10px;
    color: white;
}
nav{
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

section{
    padding: 20px;
}

h2{
    margin-bottom: 15px;
}

section:first-of-type{
    text-align: center;
    padding: 40px 20px;
    background-color: #1E3A8A;
}

div{
    border: 1px solid deeproyalblue;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: deeproyalblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer{
    background-color: deeproyalblue;    color: white;
    text-align: center;
    padding: 15px;
}
